<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%highlight(%-5level) %yellow(%date{[dd/MM/yy][HH:mm:ss]}) %cyan(%-40logger{15}) - %message%n%xException</Pattern>
        </encoder>
    </appender>


    <logger name="com.gbastianelli.xebia.project.mower.mower" level="${logback.loglevel}"/>

    <logger name="org.springframework" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="${logback.loglevel}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
